<footer>
    <div class="footer-container">
        <div class="left">
           <div class="footer-body">
            <div class="footer-logo">
                <i class="fa-brands fa-shopify"></i>
            </div>
            <div class="content">
                <p>Quality products, secure shopping, and reliable service—thank you for choosing Mystore!</p>
            </div>
            <div class="icons">
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
           </div>
        </div>
        <div class="right">
            <ul>
                <li><h3>Explore</h3></li>
                <li><a href="#" style="color: #fff;">Resources</a></li>
                <li><a href="#" style="color: #fff;">Blog</a></li>
                <li><a href="#" style="color: #fff;">Docs</a></li>
                <li><a href="#" style="color: #fff;">Heap University</a></li>
                <li><a href="#" style="color: #fff;">Pricing</a></li>
                <li><a href="#" style="color: #fff;">Free Trial</a></li>
              </ul>
              <ul>
                <li><h3>Product</h3></li>
                <li><a href="#" style="color: #fff;">Autocapture</a></li>
                <li><a href="#" style="color: #fff;">Data Governance</a></li>
                <li><a href="#" style="color: #fff;">Virtual Events</a></li>
                <li><a href="#" style="color: #fff;">Virtual Users</a></li>
                <li><a href="#" style="color: #fff;">Behavioral Analytics</a></li>
                <li><a href="#" style="color: #fff;">Connect</a></li>
              </ul>
              <ul>
                <li><h3>Solutions</h3></li>
                <li><a href="#" style="color: #fff;">Conversion Rate Optimization</a></li>
                <li><a href="#" style="color: #fff;">Product Analytics</a></li>
                <li><a href="#" style="color: #fff;">Build Your Own CDP</a></li>
                <li><a href="#" style="color: #fff;">eCommerce</a></li>
                <li><a href="#" style="color: #fff;">Financial Services</a></li>
                <li><a href="#" style="color: #fff;">SaaS</a></li>
              </ul>
              <ul>
                <li><h3>Company</h3></li>
                <li><a href="#" style="color: #fff;">About</a></li>
                <li><a href="#" style="color: #fff;">Partners</a></li>
                <li><a href="#" style="color: #fff;">Customers</a></li>
                <li><a href="#" style="color: #fff;">Careers</a></li>
                <li><a href="#" style="color: #fff;">Contact Us</a></li>
                <li><a href="#">eCommerce</a></li>
              </ul>
              <ul>
                <li><h3>Support</strong></li>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Community Forums</a></li>
                <li><a href="#">Report an Issue</a></li>
                <li><a href="#">eCommerce</a></li>
              </ul>
            </div>
        </div>
        <div class="footer-bottom">
          <a>© 2025 Heap Inc.</a>
          <div class="end">
            <a href="#">Security</a>
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
          </div>
    </div>
</footer>