<div class="tagLine ">
    <div class="contact flex">
        <i class="fa-solid fa-phone"></i>
        <small>8660484796</small>
    </div>
    <div class="deal">
        <span>Sell And Buy Products And Get Up To 80% Deal</span>
    </div>
    <div class="lang flex">
        <i class="fa-solid fa-globe"></i>
        <small>Eng <i class="fa-solid fa-angle-down"></i></small>
    </div>
</div>